/* Header style */
.main-header {
    background: linear-gradient(360deg, #b9d9bd8f, transparent);
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #345234;
  }
  .main-header-logo {
    display: flex;
    align-items: center;
    font-family: 'Shantell Sans', cursive;
  }
  .main-header-logo .main-header-haeding {
    font-family: 'Shantell Sans', cursive;
  }
  
  .main-header .all-books-btn {
    font-weight: bold;
    color: #345234;
    padding: 0.5em 1em;
    border: 1px solid #a4aea4;
    background: #aeaf9836;
    border-radius: 0.5em;
  }
  /* Media query */
@media only screen and (max-width: 500px) {
  .main-header-logo {
    flex-direction: column;
  }
  .main-header .all-books-btn {
    padding: 0.9em 0.6em;
    font-size: 0.7em;
  }
}
@media only screen and (min-width:501px) and (max-width: 990px) {
  .main-header .all-books-btn {
    padding: 1em 1.2em;
    font-size: 0.8em;
  }
}