/* Global style */
* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}
body {
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
h1,
h3,
h4 {
  padding: 0.3em;
  font-weight: normal;
  list-style: 2;
}
a {
  text-decoration: none;
}

/* Media query */
@media only screen and (max-width: 500px) {
  .main-header-logo {
    flex-direction: column;
  }
  .search-section .search-input {
    margin-right: 0;
  }
}
@media only screen and (max-width: 990px) {
  body {
    width: 100%;
  }
  .main-header .all-books-btn {
    padding: 0.2em 0.7em;
    font-size: 0.8em;
  }
  .search-section {
    padding: 2em;
    padding-bottom: 8em;
  }
  .search-section .search-input {
    width: 85%;
    margin-bottom: 1em;
  }
  .book-wrapper {
    grid-template-columns: 1fr;
  }
  .footer {
    width: inherit;
  }
}
